<header class="d-flex justify-content-center py-3 text-center">
    <nav class="navbar p-3">
        <div class="container">
            <a href="/" class="nav-link mx-3 fs-4">B-Productive</a>
            <a href="/app" class="nav-link mx-2 text-secondary">Todas as Listas</a>
            <a href="/app/new-list" class="nav-link mx-1 text-secondary">Nova Lista</a>    
        </div>
    </nav>
</header>